.interstitial__outer_container {
  width: 600px;
  background: var(--color-white);
  display: flex;
}

.interstitial__inner_container {
  flex: 1;
}

.interstitial__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
